.main {
    width: 100vw;
    padding: 25vh 0;
    background: rgba(73, 73, 73, 0.25);
}

.odd-cell {
    color: black;
    width: 90vw;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: rgba(172, 172, 172, 0.733);
    margin: .75vh 0;
    border: 2px solid;
    box-shadow: 0 0 .3em 1px rgba(27, 31, 29, 0.05), 0.3em 0.3em 1em rgba(7, 8, 8, 0.25);
}

.odd-cell:hover {
    background-color: rgba(3, 3, 3, 0.644);
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.829);
}

.odd-cell div {
    width: 25vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    border-radius: 10px;
}

.heading-cell {
    color: black;
    width: 90vw;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: rgba(216, 216, 216, 0.733);
    margin: .75vh 0;
    border: 2px solid;
    box-shadow: 0 0 .3em 1px rgba(27, 31, 29, 0.05), 0.3em 0.3em 1em rgba(7, 8, 8, 0.25);
}

.heading-cell div {
    width: 25vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
}